#anchorPane {
    -fx-background-size: 130% 100%;
    -fx-background-position: center;
    -fx-background-image: url("themes/DEFAULTr.PNG");
}

#leftPane, #rightPane, #middlePane {
    /*-fx-background-color: lime;*/
    /*-fx-background-image: url("assets/green.png");*/
}

#middlePane {
    /*-fx-background-color: #8DBF39;*/
}

#card0, #card1, #card2, #card3, #next {
    -fx-background-size: 100% 100%;
}

#middle {
    -fx-background-color: dodgerblue;
}

#elixirBar {
    -fx-accent: purple;
}

#timer {
    -fx-font-family: Consolas;
    -fx-background-color: white;
}